.headerContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  color: #fff;
  max-height: inherit;
}

.wrapperLogoNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 92px;
}

.title-wrapper{
  max-width: 720px;
}

.title {
  font-family: "YesevaOne-Regular";
  font-weight: 100;
  font-size: 48px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.title-input {
  font-family: "YesevaOne-Regular";
  font-weight: 100;
  font-size: 48px;
  max-width: 720px;
  margin-bottom: 74px;
}