.new-item {
  font-family: "Montserrat";
  font-weight: 600;
}

.new-image {
  width: 295px;
  height: 295px;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}

.new-subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  line-height: 21px;
}

.new-title {
  font-family: "Montserrat";
  font-weight: 600;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.new-description {
  font-family: "Montserrat";
  font-weight: 600;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  min-height: 200px;
}

.edit-delete_btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.file-uploader{
  width: 295px;
  height: 295px;
}



.grey-btn {
  background-color: rgb(219, 219, 219);
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 10px 15px;
  line-height: 0px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.red-btn {
  background-color: rgb(255, 172, 172);
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 10px 15px;
  line-height: 0px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.centre-btn-container {
  margin: 30px;
  text-align: center;
}

.add-btn{
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-family: "YesevaOne-Regular";
  background-color: var(--primary-color);
  width: 80%;
  border-radius: 15px;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px;
}

.add-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc((1200px - 40px * 3) / 4);;
}