.images-editor{
  margin-top: 40px;
  margin-bottom: 40px;
}

.images-editor__title{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.images-editor__grid {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.image-wrapper {
  position: relative;
  width: calc((1200px - 40px * 3) / 4);
  height: calc((1200px - 40px * 3) / 4);
  cursor: pointer;
  background-color: #ccc;
  overflow: hidden;
}

.image {
  object-position: center center;
}

.files-uploader {
  height: calc((1200px - 40px * 3) / 4);
}

.edit-delete_btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}



.grey-btn {
  background-color: rgb(219, 219, 219);
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 10px 15px;
  line-height: 0px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.red-btn {
  background-color: rgb(255, 172, 172);
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 10px 15px;
  line-height: 0px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.centre-btn-container {
  margin: 30px;
  text-align: center;
}

.add-btn{
  width: 80%;
  border-radius: 15px;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px;
}

.add-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc((1200px - 40px * 3) / 4);;
}